:root{
    /* Primary */
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);

    /* Neutral */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}

*{
    font-family: 'Red Hat Display', sans-serif;
    padding: 0;
    margin: 0;
    

}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 1440px) {

}

  /* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 375px) {
    

}

.background{
    background-color: var(--PaleBlue);
    /* height: 100%;
    width: 100%; */
    width: 100vw;
    height: 100vh;
}

.plan{
    align-items: center;
    background-color: var(--VeryPaleBlue);
    border-radius: 10px;
    padding: 15px 0 15px 15px;
    width: 250px;
    margin: 20px;
    display: inline-flex;
    /* flex-wrap: wrap; */
    gap: 12px;

}

.plan a{
    padding-left: 35px;
}

.body{
    position: relative;
}

.grid-item a {
    font-size: 13px;
    font-weight: bold;
}
.grid-item a :hover {
    text-decoration: none;

}

#change:hover,active,visited{
    text-decoration: none;
    color: rgb(131, 113, 231);
}

.plan .grid-item h2  {
    font-size: 15px;
    font-weight: bold;
}
.plan .grid-item p  {
    font-size: 14px;
}


.container p {
    font-size: 16px;
    color: var(--DesaturatedBlue);
    text-align: center;
    
}
.description{
    padding: 0 25px 0 25px
}
.description span{
    line-height: 1.68em;
}
.container h1 {
    font-size: 20px;
    text-align: center;
    color: var(--DarkBlue);
    padding: 18px;
    font-weight: bolder;

}
.container h2 {
    font-size: 16px;
    color: var(--DarkBlue);
    
}
.cancelOrder{
    padding: 10px;
}

.cancelOrder a {
    text-align: center;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
.cancelOrder h2 {
    font-size: 15px;
    color: var(--DesaturatedBlue);
}
.cancelOrder h2 :hover {
    transition-duration: 0.4s;
    color: rgb(22, 22, 22);
}
.illustration-hero{
    width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.button {
    background-color: var(--BrightBlue); /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 0 25px 0 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-weight: 500;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(38, 0, 255, 0.192), 0 6px 20px 0 rgba(38, 0, 255, 0.116);
}

.button:hover {
    background-color: rgb(131, 113, 231);
}

.centerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}
.container{
    background-color: white;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.116), 0 6px 20px 0 rgba(0, 0, 0, 0.102);

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}